<%= form_for(@poem, :html => { :multipart => true}) do |f| %>
  <% if @poem.errors.any? %>
    <div id="error_explanation">
	<font color="red"><h4>Oj, liczba błędów: <%= pluralize(@poem.errors.count, "error") %></h4>

      <ul>
      <% @poem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </font>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Tytuł" %><br />
    <%= f.text_field :title %>
  </div>
  <br/>

  <div class="field">
    <%= f.label "Treść" %><br />
    <%= f.text_area :body, :size => "70x20" %>
  </div>
  <br/>

  <div class="field">
    <%= f.label "Rodział" %><br />
    <%= select_tag "poem_chapter_id",
    options_from_collection_for_select(current_user.chapters.all,
    'id', 'name', @poem.chapter_id),:include_blank => true, :name => "poem[chapter_id]"  %>
    <%= link_to image_tag("add_chapter.png"), new_chapter_path %>
  </div>
  <br/>

  <div class="field">
    <%= f.label "Napisany:" %><br />
    <%= f.date_select :composed_at, :order => [:day, :month, :year],
    :start_year => Time.now.year - 100, :end_year => Time.now.year %>
  </div>
  <div class="field">
    <%= f.label "Tagi:" %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :mp3 %><br />
    <%= f.file_field :mp3 %>
  </div>
  <br/>
  <br/>

  <div class="actions">
    <%= image_submit_tag("accept.png") %> (akceptuj) <br/>
    <a href="javascript:history.go(-1);"><%= image_tag 'back.png' %></a> (powrót) <br/>
    <%= link_to image_tag("index.png"), poems_path %> (spis wszystkich)
  </div>
  <br/>

<% end %>
