<h2>Rezultat wyszukiwania:</h2>


<table width="560">
  <tr>
    <th width="160px">Tytuł</th>
    <th width="160px">Autor</th>
    <th width="160px">Napisany</th>
    <th></th>
    <th></th>
    <th>Opcje</th>
  </tr>

<% for poem in @found_poems %>

	<%= div_for poem do %>


<tr>
    <td width="160px" align="center"><%= link_to poem.title, poem %></td>
    <td width="160px" align="center"><%= poem.author %></td>

    <td width="160px" align="center"><%= poem.composed_at %></td>	
	<td width="200px"></td>
    <td><%= link_to image_tag("show.png"), poem_path(poem) %></td>
	<% if poem.owned_by? current_user %>
    <td><%= link_to image_tag("edit.png"), edit_poem_path(poem) %></td>
    <td><%= link_to image_tag("delete.png"), poem, :confirm => "Usunąć wiersz?", :method => :delete %></td>
		<% end %>
  </tr>


	<% end %>
	
<% end %>

</table>


