<h2>Wszystkie wiersze</h2>

<div id="poems">



<table width="560">
  <tr>
    <th width="160px">Tytuł</th>
    <th width="160px">Rozdział</th>
    <th width="160px">Napisany</th>
    <th></th>
    <th></th>
    <th>Opcje</th>
  </tr>

<% @poems.each do |poem| %>
  <tr>
    <td width="160px" align="center"><%= poem.title %></td>
    <td width="160px" align="center"><%= poem.chapter_id %></td>

    <td width="160px" align="center"><%= poem.composed_at %></td>	
	<td width="200px"></td>
    <td><a href="/poems/<%= poem.id %>"><%= image_tag("show.png") %></a></td>
    <td><a href="/poems/<%= poem.id %>/edit"><%= image_tag("edit.png") %></a></td>
    <td><a href="/poems/<%= poem.id %>/delete"><%= image_tag("delete.png") %></a></td>

  </tr>
<% end %>

</table>

</div>

<br />

<p>
   <%= link_to image_tag("add.png"), new_poem_path %>
   <%= link_to image_tag("chapters.png"), chapters_path %>
</p>

<br />


<p><b>Legenda:</b><br/>
	<%= image_tag("show.png") %> (pokaż)  |  
	<%= image_tag("edit.png") %> (edytuj)  |  
	<%= image_tag("add.png") %> (dodaj) |  
	<%= image_tag("delete.png") %> (usuń) |
	<%= image_tag("chapters.png") %> (rodziały)
</p>


