<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @profile.surname %>
</p>

<p>
  <b>Place:</b>
  <%= @profile.place %>
</p>

<p>
  <b>Birthday:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Site:</b>
  <%= @profile.site %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %>
