<p id="notice"><%= notice %></p>

<h3>Cześć <%= @profile.name %>! Oto Twój profil:</h3>

<p>
  <b>Imię:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Nazwisko:</b>
  <%= @profile.surname %>
</p>

<p>
  <b>Miasto:</b>
  <%= @profile.place %>
</p>

<p>
  <b>Urodziny:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>Płeć:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Strona WWW:</b>
  <%= @profile.site %>
</p>

<p>
  <b>Notka:</b>
  <%= @profile.bio %>
</p>

<br/>
<p><a href="javascript:history.go(-1);"><%= image_tag 'back.png' %></a> (powrót) <br/>
<%= link_to image_tag("edit.png"), edit_profile_path(@profile) %> (edytuj) <br/>


<hr size="1" width="200" align="left"/>

<p>
 <%= link_to image_tag("account.png"), user_path(current_user) %>  <%= link_to "Przejdź do edycji danych logowania", user_path(current_user)%> <br/>
</p>




