
<br/>
<hr size="1" width="200" align="left"/>

<%= form_for([@poem, @poem.comments.new], :html => {:style =>
'display: none;'}) do |f| %>
  <div class="field">
    <%= f.label "Nick" %><br />
    <%= f.text_field :name, :size=>"20"%>
  </div>
  <div class="field">
    <%= f.label "Adres e-mail" %><br />
    <%= f.text_field :email, :size=>"20" %>
  </div>
  <div class="field">
    <%= f.label "Komentarz" %><br />
    <%= f.text_area :body, :size=>"40x7" %>
  </div>
  <div class="actions">
    <%= f.submit 'Kopsnij komenta' %>
  </div>
<% end %>
