<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
	<font color="red"><h4>Oj, liczba błędów: <%= pluralize(@user.errors.count, "error") %></h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
     </font>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Login" %><br />
    <%= f.text_field :nickname %>
  </div>
  <br/>

  <div class="field">
    <%= f.label "Adres e-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <br/>

  <div class="field">
    <%= f.label "Hasło" %><br />
    <%= f.password_field :password %>
  </div>
  <br/>

  <div class="field">
    <%= f.label "Powtórz hasło" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <br/>

  <div class="actions">
    <%= image_submit_tag("accept.png") %> (akceptuj) <br/>
    <a href="javascript:history.go(-1);"><%= image_tag 'back.png' %></a> (powrót) <br/>
  </div>
  <br/>

<% end %>
