<h1>Listing chapters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @chapters.each do |chapter| %>
  <tr>
    <td><%= chapter.name %></td>
    <td><%= chapter.description %></td>
    <td><%= link_to 'Show', user_chapter_path(current_user, chapter) %></td>
    <td><%= link_to 'Edit', edit_user_chapter_path(current_user, chapter) %></td>
    <td><%= link_to 'Destroy', user_chapter_path(current_user, chapter), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chapter', new_user_chapter_path(current_user) %>
