<!DOCTYPE html>
<html>
<head>
  <title>Wierszopis</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="templatemo_wrapper_01">
<div id="templatemo_wrapper_02">

    <div id="templatemo_header">
    	<div id="site_title">
		<% if logged_in? %>
		
		<a href="/poems"><strong><i><%= current_user.nickname + "," + " wyraź siebie!" %></i></strong></a>

		<% else %>		
		 <a href="/poems"><i>Wyraź siebie...</i></a>
		<% end %>
           
        </div>
        
        <div id="header_right">
        	
            <a href="#" class="button twitter"></a>
            <a href="#" class="button mail"></a>
            <a href="#" class="button rss"></a>
            
            <div id="search_box">
                <form action="#" method="get">
                    <input type="text" value="Enter a keyword here..." name="q" size="10" id="searchfield" 
			   title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                  <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
                </form>
            </div>
        
            <div id="templatemo_menu">
                <ul>
			<% if logged_in? %>

		    <li><%= link_to "Wyloguj", logout_path %></li>
                    <li><%= link_to "Profil", profile_path(current_user) %></li>
		    <li><%= link_to "Konto", user_path(current_user) %></li>
		    <!-- Rozdzialy znajda sie w innej skcji <li><%= link_to "Rozdziały", user_chapters_path(current_user)  %></li> -->
		    <li><%= link_to "Dodaj wiersz", new_poem_path %></li>

			<% else %>

                    <li><%= link_to "Logowanie", login_path %></li>
                    <li><%= link_to "Rejestracja", new_user_path %></li>

			<% end %>
					
                    <li><a href="#" class="last">O serwisie</a></li>

                </ul>    	
            </div> <!-- end of templatemo_menu -->        
        </div>
    </div> <!-- end of templatemo_header -->
    
    
    <div id="templatemo_main">
    	
        <div id="templatemo_content_wrapper">
        <div id="templatemo_content_top"></div>
        <div id="templatemo_content">
        	
            <div class="content_box">


		<%= yield %>


          <ul class="tmo_list">
                	<li class="col_3"><a href="#">Condimentum molestie</a></li>
                    <li class="col_3"><a href="#">Vivamus a velit</a></li>
                    <li class="col_3"><a href="#">Cum sociis natoque</a></li>
                    <li class="col_3"><a href="#">Senatibus et magnis</a></li>
                    <li class="col_3"><a href="#">Adis parturient montes</a></li>
                    <li class="col_3"><a href="#">Rnascetur ridiculumus</a></li>
                    <li class="col_3"><a href="#">Curabitur quis velit</a></li>
                    <li class="col_3"><a href="#">Quis tortor tincidunt</a></li>
                    <li class="col_3"><a href="#">Vivamus leo velitllid</a></li>
				</ul>
            </div>
			        

        </div> <!-- end of content -->
        <div id="templatemo_content_bottom"></div>
        </div> <!-- end of content wrapper -->
        
        <div id="templatemo_sidebar">
        
        	<div class="sidebar_box_wrapper">

                <div class="sidebar_box">
                    <div class="sb_title"><img src="images/categories.png" alt="Categories" /></div>
                    <div class="sb_content">
                        <ul class="tmo_list">
                        	<li><a href="#">Curabitur quis velit quis tortor</a></li>
                            <li><a href="#">Sed ut perspiciatis unde omnis</a></li>
                            <li><a href="#">Fnatus error sit voluptatem</a></li>
                            <li><a href="#">Cum sociis natoque penatibus</a></li>
                            <li><a href="#">Rotam rem aperiame</a></li>
                            <li><a href="#">Veritatis quasi architecto</a></li>
                        </ul>	
                    </div>
                </div>
                
                <div class="sidebar_box">
                    <div class="sb_title"><img src="images/recent_blog_entries.png" alt="Recent Blog Entries" /></div>
                    <div class="sb_content">
                        <ul class="tmo_list">
							<li><a href="http://www.webdesignmo.com/blog" target="_parent">Web Design Blog</a></li>
                            <li><a href="http://www.flashmo.com" target="_parent">Flash Templates</a></li>
                            <li><a href="http://www.templatemo.com" target="_parent">HTML CSS Layouts</a></li>
                            <li><a href="#">Proin luctus placerat arcu</a></li>
                            <li><a href="#">Achitecto beatae</a></li>
                            <li><a href="#">Fvitae dicsunt explicabo</a></li>
                        </ul>	
                    </div>
                </div>
			</div>
			
			<div class="templatemo_cleaner"></div>            

            <div class="templatemo_sidebar_bottom"></div>
			
			<div class="templatemo_cleaner"></div>
            
			<div>
                <a href="#" class="ads_125"><img src="images/ads_125.jpg" alt="125x125 banner 1" /></a>
                <a href="#" class="ads_125"><img src="images/ads_125.jpg" alt="125x125 banner 2" /></a>
                <a href="#" class="ads_125"><img src="images/ads_125.jpg" alt="125x125 banner 3" /></a>
                <a href="#" class="ads_125"><img src="images/ads_125.jpg" alt="125x125 banner 4" /></a>			
			</div>

		  	<div class="templatemo_cleaner"></div>
			
  			<div align="center">
            <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a> &nbsp;&nbsp;&nbsp;
            <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>
			</div>
           
        </div> <!-- end of sidebar -->
    
    	<div class="clear"></div>
    </div> <!-- end of main -->
    
    <div id="templatemo_footer">
    	Copyright © 2011 | Powered by <a href="http://wierszopis.art.pl">Wierszopis</a> | 
		Daniel Landowski, Artur Rybak, Łukasz Kępiński | ASI - 12.01.2011r.
    </div> <!-- end of footer -->
    
</div> <!-- end of wrapper 02 -->
</div> <!-- end of wrapper 01 -->
</body>
</html>
