<!DOCTYPE html>
<html>
  <head>
    <title>Wierszopis</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery-1.4.4.min', 'rails', 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <h1><%= link_to "Wierszopis", root_path %></h1>
      <div id="user_bar">
        <%= link_to "Poems", poems_path %> |
        <%= link_to "Chapters", chapters_path %> |
        <%= link_to "(Users)", users_path %> |
        <%= link_to "Profiles", profiles_path %> |
        <% if logged_in? %>
        <%= link_to "New Poem", new_poem_path %> |
        <%= link_to "Edit Password", edit_user_path(current_user) %> |
        <%= link_to "Logout", logout_path %>
         <span style="display:block;">
           Witaj <strong><%= current_user.nickname + "! <" +
           current_user.email + ">" %></strong>
         </span>
        <% else %>
        <%= link_to "Login", login_path %>
        <% end %>
      </div>
    </div>
    <div id="main">

    <%= content_tag :p, notice, :class => 'notice' if notice.present? %>
    <%= content_tag :p, alert, :class => 'alert' if alert.present? %>

    <%= yield %>

    </div>
    <div id="footer">Powered by <a href="http://wierszopis.art.pl">Wierszopis</a></div>

  </body>
</html>
